<div class="welcome"> Welcome back Sherpa!</div>
<div class="account_user_box">
<div class="user-info__container">
    <h1 class="user-info__full-name">
        <%= "#{@user.fname} #{@user.lname}"%>
    </h1>
    <p class="account_info">Username: <%= @user.username %></p>
</div>

<% if @this_user %>
    <div class="user-details__container">
        <h3 class="new_post">Account details</h3>
        <div class="user-details__full-name account_info">
            Name: <%= "#{@user.fname} #{@user.lname}" %>
        </div>
        <div class="user-details__email account_info">
            Email address: <%= @user.email %>
        </div>
    </div>


    <div class="edit-user-modal">
        <form action="/edit_user" method="post">
            <div class="edit-user-modal__attribute edit-user__username">
                Username:
                <input type="text" name="username" value="<%= @user.username %>">
            </div>
            <div class="edit-user-modal__attribute edit-user__fname">
                First name:
                <input type="text" name="fname" value="<%= @user.fname %>">
            </div>
            <div class="edit-user-modal__attribute edit-user__lname">
                Last name:
                <input type="text" name="lname" value="<%= @user.lname %>">
            </div>
            <div class="edit-user-modal__attribute edit-user__email">
                Email address:
                <input type="text" name="email" value="<%= @user.email %>">
            </div>
            <div class="edit-user-modal__enter-password">
                Enter current password to change details:
                <input class="current-password-input-field" type="password" name="password_check" placeholder="Enter password">
                <button type="button" class="show-edit-password-btn">Change password</button>
            </div>
            <div class="edit-password__container">
                New password:
                <input class="new-password-input-field" type="password" name="password_new" placeholder="Enter new password">
                <input type="password" name="password" placeholder="Confirm password">
            </div>
            <input type="submit" value="Confirm edit">
            <button type="button" class="edit-user__cancel-btn">Cancel</button>
        </form>
    </div>
    <button class="edit-user-btn">
        Edit details
    </button>
    <button class="delete-user-btn">
        Delete account
    </button>
    <div class="delete-user-modal">
        <p>
            Are you sure you wish to delete your account? This will delete your blog posts and cannot be undone.
        </p>
        <form action="/delete_user" method="post">
            <input type="submit" value="Yes, delete account">
        </form>
        <button class="delete-user__cancel-btn">Cancel</button>
    </div>

    <h2 class="new_post">Post new blog:</h2>

    <div class="new-blog-form__container">
        <h2>Post new blog:</h2>
        <form id="new-blog-form" action="/create_blog" method="post">

            <input class="input_color2" type="text" name="[blog]title" placeholder="Blog title">

            <input type="hidden" name="[blog]user_id" value="<%= @user.id %>">

            <div class="new-blog-form__content-input">
                <textarea class="input_color" "form="new-blog-form" name="[blog]content" placeholder="Type your micro-blog here (max 150 characters)" maxlength="150" rows="3" cols="60"></textarea>
            </div>

            <input class="acct_submit" type="submit">
        </form>
    </div>
</div>


    <a href="/favorites/<%= @user.id %>">View Favorites</a>

<% elsif @viewing_user %>
    <% friendship_1 = Friendship.where(user_id: @viewing_user.id, other_user_id: @user.id)%>
    <% friendship_2 = Friendship.where(user_id: @user.id, other_user_id: @viewing_user.id)%>

    <% if friendship_1.length > 0 %>
        <% friendship = friendship_1[0] %>
        <% friendship_user_id = @viewing_user.id %>
        <% friendship_other_user_id = @user.id %>
    <% elsif friendship_2.length > 0 %>
        <% friendship = friendship_2[0] %>
        <% friendship_recipient = true %>
        <% friendship_user_id = @user.id %>
        <% friendship_other_user_id = @viewing_user.id %>
    <% end %>

    <% if friendship %>
        <% if friendship.status == 1 %>

            <form action="/destroy_friendship" method="post">
                <input type="hidden" name="[friendship]user_id" value="<%= friendship_user_id %>">
                <input type="hidden" name="[friendship]other_user_id" value="<%= friendship_other_user_id %>">
                <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">
                <input type="submit" value="Remove friend">
            </form>

        <% elsif friendship.status == 0 %>
            <% if friendship_recipient %>
                <div class="friend-request-pending-msg">
                    <%= @user.fname %> has sent you a friend request.
                </div>
                <form action="/confirm_friendship" method="post">
                    <input type="hidden" name="[friendship]user_id" value="<%= @user.id %>">
                    <input type="hidden" name="[friendship]other_user_id" value="<%= @viewing_user.id %>">
                    <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">
                    <input type="submit" value="Accept friend request">
                </form>
                <form action="/destroy_friendship" method="post">
                    <input type="hidden" name="[friendship]user_id" value="<%= friendship_user_id %>">
                    <input type="hidden" name="[friendship]other_user_id" value="<%= friendship_other_user_id %>">
                    <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">
                    <input type="submit" value="Decline">
                </form>

            <% else %>
                <div class="friend-request-pending-msg">
                    Friend request pending.
                </div>
            <% end %>

        <% end %>
    <% else %>

        <form action="/create_friendship" method="post">
            <input type="hidden" name="[friendship]user_id" value="<%= @viewing_user.id %>">
            <input type="hidden" name="[friendship]other_user_id" value="<%= @user.id %>">
            <input type="hidden" name="[friendship]status" value="0">
            <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">
            <input type="submit" value="Send friend request">
        </form>

    <% end %>

>>>>>>> 6146ed1d7eeff25e9657c6cdac2d3ce52373c31d
<% end %>

<div class="blog-list__container">
    <h2 class="new_post"><%= @user.fname %>'s Blogs</h2>

    <% @blogs.each do |blog| %>

        <div class="blog-list__item-container">
            <div class="blog-list__blog-title">
                <%= blog.title %>
            </div>
            <div class="blog-list__blog-content">
                <%= blog.content %>
            </div>

            <% if blog.reblog %>
                <% reblog_user = User.find(blog.reblog.user_id) %>
                Reblogged from: <a href="/account/<%= reblog_user.id %>"><%= reblog_user.username %></a>
            <% end %>

            <% if @viewing_user %>

                <% if @favorites_blog_ids.include? blog.id %>
                    <% favorite = Favorite.where(user_id: session[:user_id], blog_id: blog.id)[0] %>
                    <div class="favorited-blog-heart"></div>
                    <form action="/destroy_favorite" method="post">
                        <input type="hidden" name="favorite_id" value="<%= favorite.id %>">
                        <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">
                        <input class="unfavorite-btn" type="submit" value="Unfavorite">
                    </form>
                <% else %>
                    <form action="/create_favorite" method="post">
                        <input type="hidden" name="[favorite]user_id" value="<%= session[:user_id] %>">
                        <input type="hidden" name="[favorite]blog_id" value="<%= blog.id %>">
                        <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">
                        <input class="favorite-btn" type="submit" value="Favorite">
                    </form>
                <% end %>

                <% if @this_user %>
                    <div class="update-blog-form__container">

                        <form id="update-blog-<%= blog.id %>-form" action="/update_blog" method="post">

                            <input type="text" name="title" value="<%= blog.title %>">

                            <input type="hidden" name="user_id" value="<%= @user.id %>">
                            <input type="hidden" name="blog_id" value="<%= blog.id %>">
                            <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">

                            <div class="new-blog-form__content-input">
                                <textarea form="update-blog-<%= blog.id %>-form" class="update-blog-form__textarea" name="content" maxlength="150" rows="3" cols="60"><%= blog.content %></textarea>
                            </div>

                            <input class="acct_submit" type="submit">
                            <button type="button" class="blog-list__cancel-edit-blog-btn">Cancel</button>
                        </form>
                    </div>
                    <button class="blog-list__edit-blog-btn">Edit</button>
                    <button class="blog-list__del-blog-btn">Delete blog</button>
                    <div class="delete-blog-modal">
                        <p>Are you sure you wish to delete this blog?</p>
                        <form id="delete-blog-form" action="/destroy_blog/<%= blog.id %>" method="post">
                            <input type="hidden" name="redirect_to" value="/account/<%= @user.id %>">
                            <input class="acct_submit" type="submit" value="Yes, delete">
                            <button type="button" class="delete-blog__cancel-btn">Cancel</button>
                        </form>
                    </div>
                <% else %>
                    <form action="/create_reblog" method="post">
                        <input type="hidden" name="[reblog]blog_id" value="<%= Blog.last.id + 1 %>">
                        <input type="hidden" name="[reblog]user_id" value="<%= @user.id %>">
                        <input type="hidden" name="[blog]user_id" value="<%= @viewing_user.id %>">
                        <input type="hidden" name="[blog]title" value="<%= blog.title %>">
                        <input type="hidden" name="[blog]content" value="<%= blog.content %>">
                        <input type="hidden" name="redirect_to" value="/account/<%= @viewing_user.id%>">
                        <input type="submit" value="Reblog">
                    </form>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>

<script type="text/javascript" src="/js/update_blog.js"></script>
<script type="text/javascript" src="/js/update_user.js"></script>
