
<div class="user-info__container">
    <h1 class="user-info__full-name">
        <%= "#{@user.fname} #{@user.lname}"%>
    </h1>
    <p>Username: <%= @user.username %></p>
</div>

<% if @this_user %>
    <div class="user-details__container">
        <h3>Account details</h3>
        <div class="user-details__full-name">
            Name: <%= "#{@user.fname} #{@user.lname}" %>
        </div>
        <div class="user-details__email">
            Email address: <%= @user.email %>
        </div>
    </div>


    <div class="edit-user-modal">
        <form action="/edit_user" method="post">

            <div class="edit-user-modal__attribute edit-user__username">
                Username:
                <input type="text" name="username" value="<%= @user.username %>">
            </div>
            <div class="edit-user-modal__attribute edit-user__fname">
                First name:
                <input type="text" name="fname" value="<%= @user.fname %>">
            </div>
            <div class="edit-user-modal__attribute edit-user__lname">
                Last name:
                <input type="text" name="lname" value="<%= @user.lname %>">
            </div>
            <div class="edit-user-modal__attribute edit-user__email">
                Email address:
                <input type="text" name="email" value="<%= @user.email %>">
            </div>
            <div class="edit-user-modal__enter-password">
                Enter password to change details:
                <input type="password" name="password" placeholder="Enter password">
            </div>
            <input type="submit" value="Confirm">
        </form>

    </div>
    <button class="edit-user-btn">
        Edit details
    </button>
    <button class="delete-user-btn">
        Delete account
    </button>
    <div class="delete-user-modal">
        <p>
            Are you sure you wish to delete your account? This will delete your blog posts and cannot be undone.
        </p>
        <form action="/delete_user" method="post">
            <input type="submit" value="Yes, delete account">
        </form>
        <button class="delete-user__cancel-btn">Cancel</button>
    </div>

    <h2>Post new blog:</h2>
    <div class="new-blog-form__container">
        <form id="new-blog-form" action="/create_blog" method="post">

            <input type="text" name="[blog]title" placeholder="Blog title">

            <input type="hidden" name="[blog]user_id" value="<%= @user.id %>">

            <div class="new-blog-form__content-input">
                <textarea form="new-blog-form" name="[blog]content" placeholder="Type your micro-blog here (max 150 characters)" maxlength="150" rows="3" cols="60"></textarea>
            </div>

            <input type="submit">
        </form>
    </div>

<% end %>

<div class="blog-list__container">
    <h2><%= @user.fname %>'s Blogs</h2>

    <% @blogs.each do |blog| %>

        <div class="blog-list__blog-title">
            <%= blog.title %>
        </div>


            <% if @this_user %>
                <div class="blog-list__edit-blog-btn">Edit blog</div>
                <div class="update-blog-form__container">

                    <form id="update-blog-<%= blog.id %>-form" action="/update_blog" method="post">

                        <input type="text" name="title" value="<%= blog.title %>">

                        <input type="hidden" name="user_id" value="<%= @user.id %>">
                        <input type="hidden" name="blog_id" value="<%= blog.id %>">

                        <div class="new-blog-form__content-input">
                            <textarea form="update-blog-<%= blog.id %>-form" name="content" maxlength="150" rows="3" cols="60"><%= blog.content %></textarea>
                        </div>

                        <input type="submit">
                    </form>
                </div>

                <div class="blog-list__del-blog-btn">
                    Delete blog
                </div>
                <div class="delete-blog-modal">
                    <p>Are you sure you wish to delete this blog?</p>
                    <form id="delete-blog-form" action="/delete_blog/<%= blog.id %>" method="post">
                        <input type="submit" value="Yes, delete">
                    </form>
                    <button class="delete-blog__cancel-btn">Cancel</button>
                </div>

            <% end %>


        <div class="blog-list__blog-content">
            <%= blog.content %>
        </div>

    <% end %>
</div>

<script type="text/javascript" src="/js/update_blog.js"></script>
<script type="text/javascript" src="/js/update_user.js"></script>
