<div class="user-info__container">
    <h1 class="user-info__full-name">
        <%= "#{@user.fname} #{@user.lname}"%>
    </h1>
    <p>Username: <%= @user.username %></p>
</div>

<% if @this_user %>

    <div class="new-blog-form__container">
        <form id="new-blog-form" action="/create_blog" method="post">

            <input type="text" name="[blog]title" placeholder="Blog title">

            <input type="hidden" name="[blog]user_id" value="<%= @user.id %>">

            <div class="new-blog-form__content-input">
                <textarea form="new-blog-form" name="[blog]content" placeholder="Type your micro-blog here (max 150 characters)" maxlength="150" rows="3" cols="60"></textarea>
            </div>

            <input type="submit">
        </form>
    </div>

<% end %>

<div class="blog-list__container">
    <h2><%= @user.fname %>'s Blogs</h2>

    <% @blogs.each do |blog| %>

        <div class="blog-list__blog-title">
            <%= blog.title %>

            <% if @this_user %>
                <span class="blog-list__edit-blog-btn">Edit blog</span>
                <div class="update-blog-form__container">
                    <form id="update-blog-form" action="/update_blog" method="post">

                        <input type="text" name="[blog]title" value="<%= blog.title %>">

                        <input type="hidden" name="[blog]user_id" value="<%= @user.id %>">
                        <input type="hidden" name="[blog]id" value="<%= blog.id %>">

                        <div class="new-blog-form__content-input">
                            <textarea form="new-blog-form" name="[blog]content" maxlength="150" rows="3" cols="60"><%= blog.content %></textarea>
                        </div>

                        <input type="submit">
                    </form>
                </div>
            <% end %>

        </div>
        <div class="blog-list__blog-content">
            <%= blog.content %>
        </div>

    <% end %>
</div>

<script type="text/javascript" src="/js/account.js"></script>
